[submodule "oneTBB"]
	path = oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "mimalloc"]
	path = mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "xxHash"]
	path = xxHash
	url = https://github.com/Cyan4973/xxHash.git
